HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Backend ###
backend/.gradle
backend/build/
backend/out/
backend/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/

### macOS ###
.DS_Store
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
# Local configuration
application-local.properties
src/main/resources/
.DS_Store
