.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 40%;
  background: #F0F9FF;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.18);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.saveIconBlue {
    margin-right: 5px;
}

.close {
  width: 18px;
  cursor: pointer;
}

.desc {
  margin: 14px 0 22px;
  color: #555;
  font-size: 14px;
}

.label {
    display: flex;
  font-size: 14px;
  margin-bottom: 6px;
}

.input {
  width: 95%;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  font-size: 14px;
}

.buttonRow {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.cancelBtn {
  padding: 8px 20px;
  border: 1px solid #BAE6FD;
  background: #F0F9FF;
  border-radius: 8px;
  cursor: pointer;
}

.saveBtn {
  padding: 8px 20px;
  background: #155dfc;
  border: 1px solid #BAE6FD;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.saveBtn:disabled,
.disabled {
  background: #cbd5e1;   /* 회색 */
  background: #0EA5E9;
  cursor: not-allowed;
  opacity: 0.6;
}