.wrapper {
  width: 100%;
  padding: 60px 0;
  background-image: url("../../assets/bgPattern.svg");
  background: 
    url("../../assets/bgPattern.svg") top center no-repeat,
    linear-gradient(#CCDEFF, #CAFFFC);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 18px;
  color: #444;
  margin-bottom: 40px;
}

.formBox {
  width: 80%;
  padding: 40px;
  background: white;
  border-radius: 18px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.15);
}

.label {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.labelIcon {
  width: 18px;
}

.inputWrapper {
  position: relative;
  margin-bottom: 20px;
}

.input {
  width: 40%;
  height: 48px;
  padding: 12px 16px;
  padding-right: 40px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  font-size: 16px;
  background: #F0F9FF;
}

.inputIcon {
  position: absolute;
  top: 50%;
  transform: translateX(-150%) translateY(-50%);
  width: 18px;
  opacity: 0.7;
}

.sectionTitle {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.tagList {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background: #e7f1ff;
  color: #1166ff;
  border-radius: 8px;
  font-size: 14px;
}

.tagClose {
  cursor: pointer;
}

.addInputWrapper {
  display: flex;
  align-items: center;
  height: 48px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding-left: 12px;
  margin-bottom: 28px;
}

.addIcon {
  width: 18px;
  opacity: 0.7;
}

.addInput {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 8px;
  font-size: 15px;
}

.submitBtn {
  width: 100%;
  height: 54px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  background: linear-gradient(to right, #4db8ff, #4270ff);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.submitBtn:hover {
  opacity: 0.95;
}

.btnIcon {
  font-size: 16px;
}

.starWhite {
    width: 18px;
    opacity: 0.7;
}

.addRow {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #F0F9FF;
}

.addRow:hover {
  background: #f8f8f8;
}