.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navItem {
  font-size: 15px;
  color: #444;
  cursor: pointer;
  transition: color 0.2s ease;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPageBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 32px;
    background: linear-gradient(to right, #00A6F4, #155DFC);
    border-radius: 10px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    color: white;
}

.userIcon{
    margin-right: 10px;
}
.navItem:hover {
  color: #000;
}

.login {
  font-size: 15px;
  color: #888;
  cursor: pointer;
  padding-left: 12px;
  border-left: 1px solid #ddd;
  transition: color 0.2s ease;
}

.login:hover {
  color: #000;
}

.dropdown {
  position: absolute;
  top: 60px;        /* menuIcon 바로 아래에 위치하도록 */
  right: 20px;      /* Header 오른쪽 정렬 */
  background: white;
  border: 1px solid #BAE6FD;
  border-radius: 12px;
  padding: 12px 0;
  width: 170px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  z-index: 999;
}

.item {
  padding: 12px 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333;
}

.item:hover {
  background: #f5f9ff;
}

.logout {
  margin-top: 10px;
  padding: 12px 18px;
  color: red;
  border-top: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout:hover {
  background: #ffecec;
}

.HomeIcon, .routeIconBlack, .PersonIcon, .HeartIcon, .OutIcon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
