.card {
  width: 100%;
  max-width: 85%;
  padding: 32px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  margin: 50px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.routeIcon {
  width: 48px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.subTitle {
  font-size: 14px;
  color: #666;
  margin-top: 3px;
}

.saveBtn {
  background: #1b8bff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.saveBtn img {
  width: 18px;
}

.cityRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 28px 0;
}

.cityPill {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 16px;
  border: 1px solid #a8d4ff;
  color: #1b8bff;
  font-weight: 500;
  background: #eaf5ff;
}

.locateIcon {
  width: 16px;
}

.arrow {
  color: #999;
}

.divider {
  border: none;
  border-bottom: 1px solid #eaeaea;
  margin: 24px 0;
}

.section {
  margin-bottom: 20px;
}

.sectionLabel {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.foodEmoji,
.categoryEmoji {
  font-size: 18px;
}

.tagList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.section {
  margin-top: 20px;
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  align-items: center;
}

.pillContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.foodPill {
  background: #ffe6c4;
  color: #c25a00;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.categoryPill {
  background: #e5ddff;
  color: #6a4ecb;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.noData {
  color: #999;
  font-size: 14px;
}

.foodIcon {
    margin-right: 10px;
}

.ticketIcon {
    margin-right: 10px;
}